﻿body {
  font-size: .85em;
  font-family: "Segoe UI", Verdana, Helvetica, Sans-Serif;
  color: #232323;
  background-color: #fff;
}
header,
footer,
nav,
section {
  display: block;
}
/* Styles for basic forms
-----------------------------------------------------------*/
fieldset {
  border: 1px solid #ddd;
  padding: 0 1.4em 1.4em 1.4em;
  margin: 0 0 1.5em 0;
}
legend {
  font-size: 1.2em;
  font-weight: bold;
}
textarea {
  min-height: 75px;
}
.editor-label {
  margin: 1em 0 0 0;
}
.editor-field {
  margin: 0.5em 0 0 0;
}
/* Styles for validation helpers
-----------------------------------------------------------*/
.field-validation-error {
  color: #f00;
}
.field-validation-valid {
  display: none;
}
.input-validation-error {
  border: 1px solid #f00;
  background-color: #fee;
}
.validation-summary-errors {
  font-weight: bold;
  color: #f00;
}
.validation-summary-valid {
  display: none;
}
.wrapper {
  height: 100%;
}
.wrapper .mainbody {
  margin: 0em auto;
  max-width: 924px;
  background-color: #ffffff;
}
.wrapper .mainbody header {
  background-color: #eeeeee;
  overflow: auto;
  width: 100%;
  display: block;
  font-size: 0.9em;
}
.wrapper .mainbody .todos ul li {
  background-color: #F6F9ED;
  font-size: 16pt;
  list-style: none;
  margin: 3px 0 0 0;
}
.wrapper .mainbody .todos ul li .priority {
  display: inline-block;
  width: 20px;
}
.wrapper .mainbody .todos ul li .what {
  display: inline-block;
  width: 550px;
}
.wrapper .mainbody .todos ul li .when {
  display: inline-block;
  width: 150px;
  font-size: 12pt;
}
.formelement {
  width: 300px;
}
