﻿@model IEnumerable<ToDo.Models.TodoViewModel>

@{
    ViewBag.Title = "title";
}

<h2>title</h2>

<div class="todos">
    <ul>
        @foreach (var item in Model)
        {
            @Html.Partial("_TodoItem", item)
        }
    </ul>
    @Html.ActionLink("Get me something else todo!", "New", "Todo")
</div>
