﻿@model ToDo.Models.TodoViewModel

@{
    ViewBag.Title = "title";
}

<h2>title</h2>

@using(Html.BeginForm("Create", "Todo"))
{
    <p>
        @Html.LabelFor(m => m.What):
    </p>
    <p>
        @Html.TextBoxFor(m => m.What, new{placeholder = "What"}) @Html.ValidationMessageFor(m => m.What)
    </p>
    <p>
        @Html.LabelFor(m => m.Priority):
    </p>
    <p>
        @Html.TextBoxFor(m => m.Priority) @Html.ValidationMessageFor(m => m.Priority)
    </p>
    <p>
        @Html.LabelFor(m => m.When): @Html.DisplayFor(m => m.When)
    </p>
    <p>
        @Html.EditorFor(m => m.When) 
    </p>
    
    <input type="submit" value="Add more work!"/>    
}

